<div class="section section_collapsed"
     data-suite-path="{{suite.path}}"
     data-state-name="{{state.name}}">
    <div class="section__title">
        <span class="section__title-text">{{state.name}}</span>
        <button class="section__title-goto">Goto code »</button>
    </div>
    <div class="section__body section__body_guided">
        {{#each browsers}}
        <div class="section section_collapsed"
             data-suite-path="{{suite.path}}"
             data-state-name="{{state.name}}"
             data-browser-id="{{browserId}}">
            <div class="section__title">{{browserId}}</div>
            <div class="section__body">
                {{#if skipped}}
                    {{> skip-result}}
                {{else}}
                    {{> success-result}}
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
